.header {
  font-size: 2rem;
  display: flex;
  justify-content: center;
}

.contentContainer {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;

  .contentItem {
    margin-top: 20px;
  }
}
