.listItem {
  &:hover {
    background-color: rgba(0, 0, 0, 0.11);
  }
}

.listItemText {
  font-size: 1.4rem;
}

.tweet {
  width: 270px;
  height: 65px;
  border-radius: 40px;
  border: none;
  outline: none;
  font-size: 1.2rem;
  cursor: pointer;
}