.dialogHeader {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.create {
  font-size: 1.6rem;
}

.formContainer {
  margin-top: 30px;
}

.date {
  margin-bottom: 5px;
}

.dateNotice {
  font-size: 0.9rem;
  margin-bottom: 15px;
}

.dateContainer {
  display: flex;
  margin-bottom: 40px;
  justify-content: space-around;
  @media only screen and (max-width: 565px) {
    flex-direction: column;
  }
}

.signupContainer {
  display: flex;
  justify-content: center;
  width: 900px;
  margin-bottom: 30px;
}

.signupButton {
  background-color: #000;
  color: white;
  outline: none;
  border: none;
  width: 95%;
  height: 40px;
  border-radius: 30px;
  font-size: 1rem;
  cursor: pointer;
  &:disabled {
    opacity: 0.5;
    cursor: default;
  }
}

.select {
  @media only screen and (max-width: 565px) {
    div {
      width: 100%;
    }
    margin-bottom: 20px;
  }
}

.error {
  color: red;
  text-align: center;
}
