.textBoxContainer {
  display: grid;
  grid-template-columns: 0px 1fr;
  grid-template-rows: auto 1fr;
}
.textBox {
  outline: none;
  font-size: 1.4rem;
  margin: 10px 10px auto;
  z-index: 10;
  width: 500px;
  grid-area: 1 / 1 / 2 / 2;
}

.placeHolder {
  font-size: 1.4rem;
  margin: 10px 10px auto;
  z-index: -10;
  width: 500px;
  color: rgb(73, 73, 73);
  font-size: 1.4rem;
}
